__pycache__/
*~
*.swp
*.pyc
.DS_Store
/.coverage
/dist/
/build/
/media/
/static/
/MANIFEST
/wagtail.egg-info/
/docs/_build/
/.django_secret
/local_settings.py
/.tox/
/venv
/node_modules/
npm-debug.log*
*.idea/
/*.egg/
/.cache/
/.pytest_cache/
*.sqlite3

### vscode
.vscode