@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// Toned down Bootstrap palette
$blue:    #4E80A6;
$indigo:  #4C478F;
$purple:  #8849B9;
$pink:    #E37D7D;
$red:     #A73939;
$orange:  #C88217;
$yellow:  #F4CE73;
$green:   #279A6D;
$teal:    #7AD7A4;
$cyan:    #4CACB3;

// Kausal MVP brand colors
$primary:   #274E13;
$secondary: #D9EAD3;
$success:     $green !default;
$info:        $cyan !default;
$warning:     $yellow !default;
$danger:      $red !default;
$light:     #f7f6f3;
$dark:      #302d2b;

$spacer:	            1rem;
$enable-rounded:	    true;
$enable-shadows:	    false;
$enable-gradients:      false;
$enable-transitions:	true;
$enable-hover-media-query:	false;
$enable-grid-classes:	true;
$enable-caret:	        true;
$enable-print-styles:   true;

$border-radius:     4px;
$border-radius-lg:  8px;
$border-radius-sm:  0;

$headings-font-weight:   700;

@import "bootstrap/scss/bootstrap.scss";

body, html {
    font-family: 'DM Sans', sans-serif;

    @include media-breakpoint-up(xl) {
        font-size: 1.1rem;
    }
}

.navbar {
    z-index: $zindex-sticky;
    box-shadow: 0 3px 10px rgba(#1f2b19, 0.10);
}

.navbar-light .navbar-brand {
    padding-top: 0.25rem;
    margin-right: 2rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: $primary;
}

.navbar-toggler {
    border: 0;
}

.navbar-nav {
    margin-bottom: 1rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
    }
}

.language-dropdown {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: .75px;

    .dropdown-menu {
        font-size: 0.8rem;
    }

    .lang-icon {
        width: 1rem;
        height: 1rem;
        opacity: .5;
        margin-right: .25rem;
        vertical-align: text-top;
    }
}

// HERO

.site-hero {
    background-color: $primary;
    color: $light;
    @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
    }
    @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
    }

    .pre-lead {
        font-size: 1.5rem;
        line-height: 1.1;
        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
    }

    h1 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 2rem;
        color: $secondary;
        @include media-breakpoint-up(md) {
            font-size: 3rem;
        } 
        @include media-breakpoint-up(lg) {
            font-size: 3.5rem;
        }
        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }

    .hero-image {
        margin-top: -3rem;
        //border-bottom: 3px solid $secondary;

        @include media-breakpoint-up(md) {
            margin-top: 0;
        } 
    }

}

.section-header {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    } 
    @include media-breakpoint-up(lg) {
        font-size: 3rem;
    }
    @include media-breakpoint-up(xl) {
        font-size: 3.5rem;
    }
}

// CONTENT

.contact-section {
    background-color: $secondary;
}

.contact-image {
    height: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-section {
    padding: 5rem 0;
    background-color: $primary;
    color: $light;

    a {
        text-decoration: underline;
        color: $secondary;

        &:hover {
            text-decoration: none;
            color: $secondary;
        }
    }
}

.team-member {
    text-align: center;
}

.team-member-name {
    color: $secondary;
    margin-bottom: .25rem;
}

.team-member-image {
    width: 8rem;
    height: 8rem;
    border-radius: 4px;
}

.team-member-title {
    margin-bottom: .25rem;
    //font-weight: 600;
}

.team-member-bio {
    font-size: 80%;
    p {
        margin-bottom: 0;
    }
}

$h1: 12px;
$h2: -12px;
$v1: 12px;
$v2: -12px;
$blur1: 16px;
$blur2: 12px;
$color-light: rgba($light, 0.20);
$color-dark: rgba($primary, 0.07);


.announcement-section {
    background-color: lighten($secondary, 2%);
    padding: 3rem 0;

    @include media-breakpoint-up(md) {
        padding: 6rem 0;
    } 

    .announcement-banner {
        border-radius: 6px;
        background-color: $secondary;
        color: $dark;
        box-shadow: $h1 $v1 $blur1 $color-dark, 
                    $h2 $v2 $blur2 $color-light;
    }

    .announcement-image {
        max-height: 200px;
    }

    .announcement-content {
        margin-bottom: -1em;
    }
}

// FEATURES

.features-section {
    padding: 5rem 0;
    background-color: $light;
    color: $primary;
}

.feature {
    img {
        max-width: 100%;
        height: auto;
        margin: 0 auto 1rem;
    }
}

.feature-content {

      ul {
        display:inline-block;
        padding:0.5em;
        padding-left:1.5em;
        margin:0.5em;
        list-style:none;
      }

      ul > li {
        clear:left;
        margin-bottom: .5rem;
      }
      
      ul > li:before {
        content:"";
        height:1.4em;
        width:1.25em;
        display:block;
        float:left;
        margin-left:-1.75em;
        color: $primary;
        background-repeat:no-repeat;
        background-image:url("data:image/svg+xml;utf8,<svg class='bi bi-check' width='1em' height='1em' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z' clip-rule='evenodd'/></svg>");
        background-size:100%;
        background-position:center bottom;
      }
}

.feature-set {
    @extend .row;
}

.features {
    .feature-content {
        @extend .col-12;
        @extend .col-sm-7;
        @extend .col-md-5;
    }
    .feature-image {
        @extend .col-8;
        @extend .col-sm-5;
        @extend .offset-1;
        @extend .offset-sm-0;
        margin-bottom: 3rem;
    }
}

.features .container:nth-child(odd) {
        .feature-image {
            @extend .offset-md-1;
        }
    }

.features .container:nth-child(even) {
        .feature-image {
            @extend .order-sm-3;
        }

        .feature-content {
            text-align: right;
        }
    }

// TESTIMONIALS

.testimonials-section {
    padding: 5rem 0;
    background-color: $light;
    color: $primary;
}

.testimonials {

    blockquote {
        margin-top: 1rem;
    }

    blockquote footer {
        margin-bottom: 1rem;
        img {
            width: 8rem;
            height: 8rem;
            border-radius: 4px;
            margin: 0 1rem .5rem 0;
        }
    }

    .carousel{
        padding-top: 2rem;
    }
}

.testimonial-content {
    position: relative;
    overflow: visible;
    padding: 1.25rem 1.75rem .75rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    background-color: $secondary;
    box-shadow: $h1 $v1 $blur1 #eeeeee, 
    $h2 $v2 $blur2 #fafafa;

    &:before, &:after {
        position: absolute;
        font-size: 6rem;
        line-height: 1rem;
    }
    &:before {
        content: open-quote;
        top: 3rem;
        left: -1.25rem;
    }
    &:after {
        content: close-quote;
        right: -0.75rem;
        bottom: 0;
    }

    @include media-breakpoint-up(md) {
        font-size: 1.25rem;
    } 
}

.testimonial-source-details {
    font-size: 1rem;
    line-height: 1.25;

    .testimonial-name {
        font-size: 1.25rem;
    }

    p {
        margin-bottom: .25em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.carousel-indicators {
    bottom: -4rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    padding: 1.25rem;
    border-radius: 8px;
    background-size: 50%;
}


// FOOTER

.site-footer {
    padding: 5rem 0;
    background-color: $dark;
    color: $light;
}

.back-to-top {
    z-index: 2000;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    box-shadow: 3px 3px 10px rgba($primary, .15);
    svg {
        margin-bottom: .25rem;
    }
}
