{% load wagtailimages_tags %}

<section class="announcement-section" id="{{ value.in_navigation | slugify }}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="announcement-banner p-5">
                    <div class="row justify-content-start">
                        {% image value.section_image width-500 as tmp_photo %}
                        <div class="col-10 col-md-4 offset-md-0 justify-content-center">
                                <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"
                                class="img-fluid announcement-image align-middle mb-4 w-sm-50" />
                        </div>
                        <div class="col-12 col-md-8 announcement-content"> 
                            <h2>{{ value.headline }}</h2>
                            <p class="lead">{{ value.lead }}</p>
                            {{ value.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>