{% load wagtailimages_tags %}

<section class="contact-section" id="{{ value.in_navigation | slugify }}">
    {% if value.section_image %}
        {% image value.section_image original as tmp_img %}
        <div class="contact-image" style="background-image: url('{{ tmp_img.url }}')">
        </div>
    {% endif%}
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-lg-1">
                <h2 class="section-header">{{ value.headline }}</h2>
                <p class="lead">{{ value.lead }}</p>
                {{ value.content }}
            </div>
        </div>
    </div>
</section>