{% load wagtailcore_tags wagtailimages_tags %}

<div class="features my-5">
      {% for block in value %}
              <div class="container mt-5">
                <div class="feature-set">
                    <div class="text-center feature-image">
                      {% image block.image width-600 class="img-fluid "%}
                    </div>
                    <div class="feature-content">
                        <h3>{{ block.title }}</h3>
                        {{ block.description }}
                    </div>
                </div>
              </div>
      {% endfor %}

</div>
