{% load wagtailimages_tags %}

<section class="site-hero" id="{{ value.in_navigation | slugify }}">
    <div class="container pb-5">
        <div class="row">
            <div class="col-6 col-sm-5 col-lg-4 col-xl-4 offset-md-1 order-md-2 mb-3 text-center">
                {% image value.hero_image fill-900x1800 as temp_img %}
                <img src="{{ temp_img.url }}" alt="{{ temp_img.alt }}"
                                class="hero-image img-fluid align-top" />
            </div>
            <div class="col-md-6 order-md-1">
                <div class="hero-content py-2 my-3 pt-lg-5 my-md-5">
                    <p class="pre-lead">{{ value.lead }}</p>
                    <h1>{{ value.headline }}</h1>
                    <p>{{ value.content }}</p>
                    {% if value.cta_link %}
                        <a class="btn btn-secondary mt-3" href="{{ value.cta_link}}">{{ value.cta_button }}</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>