{% load wagtailcore_tags wagtailimages_tags %}

<div class="testimonials">
  <div id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
    data-interval="false"
    >
    <ol class="carousel-indicators">
      {% for block in value %}
      <li data-target="#carouselExampleIndicators"
          data-slide-to={{ forloop.counter0 }}
          class="bg-dark 
              {% if forloop.counter == 1 %}
                  active
              {% endif %}
          ">
      </li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for block in value %}
          <div class="carousel-item
              {% if forloop.counter == 1 %}
                  active
              {% endif %}
              ">
              <div class="container">
                <blockquote class="row">
                    <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
                        <div class="testimonial-content">
                          {{ block.content }}
                        </div>
                    </div>
                    <footer class="col-7 offset-5 col-md-3 offset-md-0 col-lg-3 d-flex flex-row flex-md-column justify-content-end">
                        <div class="testimonial-source-image">
                            {% image block.image fill-400x400 %}
                        </div>
                        <div class="testimonial-source-details">
                            <p><strong>{{ block.name }}</strong></p>
                            <p>{{ block.title }}</p>
                            <p><em>{{ block.organization }}</em></p>
                        </div>
                    </footer>
                </blockquote>
              </div>
          </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
