{% load static wagtailuserbar wagtailtrans_tags wagtailcore_tags sass_tags wagtailimages_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js bg-secondary" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#4d6a52">
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#4d6a52">
        <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}">
        <meta name="theme-color" content="#d9ead3">
        
        <meta name="description" content="{{ self.search_description }}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{{ self.search_description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.get_site.root_url }}{% pageurl self %}" />
        <meta property="og:image" content="{% static 'icons/default-social.jpg' %}" />
        <meta property="og:image" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}

        <link href="{% sass_src 'css/kausal_web.scss' %}" rel="stylesheet" type="text/css" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    </head>

    <body class="{% block body_class %}{% endblock %} bg-secondary">
        {% wagtailuserbar 'bottom-left' %}
        <div class="container-fluid">

        </div>
        <div class="container my-5">
            <a class="btn btn-outline-primary mb-5" href="/">Back</a>
                    <div class="row">
                        <div class="col-xs-12 col-lg-4 mb-2 text-primary">
                            {% image page.main_image width-600 class="img-fluid px-3 mb-3" %}
                            <h1 class="mb-4">{% include_block page.title %}</h1>
                            <div class="lead font-weight-bold">
                                {% include_block page.blurb %}
                            </div>
                            <p>{% include_block page.body %}</p>
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <!-- Calendly inline widget begin -->
                            <div class="calendly-inline-widget" data-url="{{ page.calendy_link }}?text_color=302d2b&primary_color=274e13" style="min-width:320px;height:630px;"></div>
                            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                            <!-- Calendly inline widget end -->
                        </div>
                    </div>

        </div>
        {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/kausal_web.js' %}"></script>

        {% block extra_js %}
            {% if matomo_host and matomo_site_id %}
            <!-- Matomo -->
            <script type="text/javascript">
              var _paq = window._paq = window._paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="https://{{ matomo_host }}/";
                _paq.push(['setTrackerUrl', u+'js/']);
                _paq.push(['setSiteId', '{{ matomo_site_id }}']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <!-- End Matomo Code -->
            {% endif %}
        {% endblock %}
    </body>
</html>
