{% load static wagtailuserbar wagtailtrans_tags wagtailcore_tags sass_tags i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% with self.get_site.site_name as site_name %}{% if site_name %} – {{ site_name }}{% endif %}{% endwith %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.seo_title|default:self.title }}{% endif %}" />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#4d6a52">
        <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#4d6a52">
        <meta name="msapplication-config" content="{% static 'icons/browserconfig.xml' %}">
        <meta name="theme-color" content="#d9ead3">

        <meta name="description" content="{{ self.search_description }}" />
        <meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}" />
        <meta property="og:description" content="{{ self.search_description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.get_site.root_url }}{% pageurl self %}" />
        <meta property="og:image" content="{% static 'icons/default-social.jpg' %}" />
        <meta property="og:image" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}

        <link href="{% sass_src 'css/kausal_web.scss' %}" rel="stylesheet" type="text/css" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar 'bottom-left' %}

        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light py-3 is-hideable">
            <div class="container">
                <a class="navbar-brand" href="/">Kausal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        {% for block in page.body %}
                            {% if block.value.in_navigation %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#{{ block.value.in_navigation | slugify }}">{{ block.value.in_navigation }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="nav-item">
                            <a class="nav-link" href="https://medium.com/kausaltech/{{ LANGUAGE_CODE }}/home">
                                {% if LANGUAGE_CODE == "fi" %}
                                    Blogi
                                {% else %}
                                    Blog
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between justify-content-md-end align-items-start">
                        <div class="order-md-1">{% render_language_selector page %}</div>
                        {% for calendy in self.get_children.specific %}
                            {% if calendy.content_type.name == "calendy page" %}
                                <a href="{% pageurl calendy %}" class="btn btn-secondary mr-3 order-md-0">{{ calendy.cta_text }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </nav>
        {% include_block page.body %}
        <footer class="site-footer">
            <div class="container">
                <p>Kausal Oy 2020</p>
            </div>
        </footer>
        <a  id="back-to-top"
            href="#"
            class="btn btn-light btn-lg back-to-top"
            role="button" title="Click to return on the top page">
            <svg class="bi bi-chevron-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"/>
            </svg>
        </a>

        {# Global javascript #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/kausal_web.js' %}"></script>

        {% block extra_js %}
            {% if matomo_host and matomo_site_id %}
            <!-- Matomo -->
            <script type="text/javascript">
              var _paq = window._paq = window._paq || [];
              /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u="https://{{ matomo_host }}/";
                _paq.push(['setTrackerUrl', u+'js/']);
                _paq.push(['setSiteId', '{{ matomo_site_id }}']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.src=u+'js/'; s.parentNode.insertBefore(g,s);
              })();
            </script>
            <!-- End Matomo Code -->
            {% endif %}
        {% endblock %}
    </body>
</html>
